
.container{
  background-color:#cccc00;
}
.hello{
  color:#ccff66;
  background-color:#000000;
}
.sup:hover{
  background-color:#ff6666;
  transition:background 0.6s linear 0s, color 0.6s linear 0s;
}
